@import "tailwindcss";
@import "../styles/_keyframe-animations.scss";
@import "../styles/_variables.scss";

:root {
    --background: #21202a;
    
    
    --font-lunasima: Lunasima, sans-serif;
    --fiolet: #b4499d;
    --orange: #f07e7f;
    --card: #44435a;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #21202a;
        --foreground: #ededed;
    }
}


body {
    caret-color:#f07e7f !important;
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
    font-family: var(--font-lunasima) !important;
}

/* .ProseMirror {
    position: static !important;
    background-color: var(--card);
    margin-top: 1rem;
    border-radius: 8px;
    padding: 1rem;
} */


.content-wrapper{
    background-color: var(--background);
    
}

div.tiptap-toolbal{
    background-color: var(--background);
}

div.tiptap.ProseMirror{
    
    position: static !important;
    margin-top: 1rem;
    border-radius: 8px;
    padding: 1rem;
    
    border-color: rgba(240, 126, 127, 0.3);
    border-width: 0.2vh;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.5);
    color: white;
}